# PULIZIA DB CONUSMO FARMACI IN ITALIA- DETTAGLIO EDUCAZIONE RICEVUTA

In [138]:
import pandas as pd

file_path=r"Consumo_farmaci_ITA_titolostudio.csv"
df=pd.read_csv(file_path)

In [139]:
df.drop_duplicates
print("shape db:", df.shape)
df.info()

shape db: (3300, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3300 entries, 0 to 3299
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DATAFLOW                      3300 non-null   object
 1   FREQ                          3300 non-null   object
 2   REF_AREA                      3300 non-null   object
 3   DATA_TYPE                     3300 non-null   object
 4   MEASURE                       3300 non-null   object
 5   SEX                           3300 non-null   int64
 6   AGE                           3300 non-null   object
 7   EDU_LEV_HIGHEST               3300 non-null   int64
 8   LABOUR_PROFESS_STATUS_B       3300 non-null   int64
 9   TIME_PERIOD                   3300 non-null   int64
 10  OBS_VALUE                     3300 non-null   float64
 11  OBS_STATUS                    0 non-null      float64
 12  NOTE_DS                       0 non-null      float64
 13  NOTE_REF_AREA                 0 non-null      float64
 14  NOTE_DATA_TYPE                0 non-null      float64
 15  NOTE_MEASURE                  0 non-null      float64
 16  NOTE_SEX                      0 non-null      float64
 17  NOTE_AGE                      0 non-null      float64
 18  NOTE_EDU_LEV_HIGHEST          0 non-null      float64
 19  NOTE_LABOUR_PROFESS_STATUS_B  0 non-null      float64
 20  NOTE_TIME_PERIOD              0 non-null      float64
 21  BASE_PER                      0 non-null      float64
 22  UNIT_MEAS                     0 non-null      float64
 23  UNIT_MULT                     0 non-null      float64
dtypes: float64(14), int64(4), object(6)
memory usage: 618.9+ KB

In [140]:
df=df.iloc[:,:-13]

df["REF_AREA"]=df["REF_AREA"].replace("IT","Italy")

Education={3:"lower primary school",
           4:"lower secondary school",
           7:"high school",
           11:"degree and post degree",
           99:"total"}

df["EDU_LEV_HIGHEST"]=df["EDU_LEV_HIGHEST"].replace(Education)

Sex={1:"Males",
     2:"Females",
     9:"Total"}

df["SEX"]=df["SEX"].replace(Sex)

Age={"Y_GE6":"<6",
     "Y_GE65":">65",
     "Y25-44":"25-44",
     "Y45-64":"45-64",
     "Y6-24":"6-24"}

df["AGE"]=df["AGE"].replace(Age)

df["FREQ"]=df["FREQ"].replace("A","Annual")

df

,DATAFLOW,FREQ,REF_AREA,DATA_TYPE,MEASURE,SEX,AGE,EDU_LEV_HIGHEST,LABOUR_PROFESS_STATUS_B,TIME_PERIOD,OBS_VALUE
0,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,HSC,Males,<6,degree and post degree,99,2001,27.3
1,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,HSC,Males,<6,degree and post degree,99,2002,30.1
2,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,HSC,Males,<6,degree and post degree,99,2003,29.5
3,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,HSC,Males,<6,degree and post degree,99,2005,30.8
4,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,HSC,Males,<6,degree and post degree,99,2006,33.3
...,...,...,...,...,...,...,...,...,...,...,...
3295,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,THV,Total,6-24,total,99,2019,1752.0
3296,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,THV,Total,6-24,total,99,2020,1216.0
3297,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,THV,Total,6-24,total,99,2021,1304.0
3298,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,THV,Total,6-24,total,99,2022,1580.0
3299,IT1:83_63_DF_DCCV_AVQ_PERSONE_210(1.0),Annual,Italy,6_DRUGS_D,THV,Total,6-24,total,99,2023,1614.0

In [141]:
#save csv 
nome_file = "CF_education_pulito.csv"
df.to_csv(nome_file, index=False)

PULIZIA DATI DB: CONUSMO FARMACI- DETTAGLIO POSIZIONE LAVORATIVA

In [142]:
#load file
file_path_etÃ =r"Consumo_farmaci_ITA_etÃ .csv"
df_etÃ =pd.read_csv(file_path_etÃ )

In [143]:
#esplorazione
print("Dimensione db:",df_etÃ .shape)
print("info db:","/n",df_etÃ .info())

Dimensione db: (1584, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584 entries, 0 to 1583
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DATAFLOW                      1584 non-null   object
 1   FREQ                          1584 non-null   object
 2   REF_AREA                      1584 non-null   object
 3   DATA_TYPE                     1584 non-null   object
 4   MEASURE                       1584 non-null   object
 5   SEX                           1584 non-null   int64
 6   AGE                           1584 non-null   object
 7   EDU_LEV_HIGHEST               1584 non-null   int64
 8   LABOUR_PROFESS_STATUS_B       1584 non-null   int64
 9   TIME_PERIOD                   1584 non-null   int64
 10  OBS_VALUE                     1584 non-null   float64
 11  OBS_STATUS                    0 non-null      float64
 12  NOTE_DS                       0 non-null      float64
 13  NOTE_REF_AREA                 0 non-null      float64
 14  NOTE_DATA_TYPE                0 non-null      float64
 15  NOTE_MEASURE                  0 non-null      float64
 16  NOTE_SEX                      0 non-null      float64
 17  NOTE_AGE                      0 non-null      float64
 18  NOTE_EDU_LEV_HIGHEST          0 non-null      float64
 19  NOTE_LABOUR_PROFESS_STATUS_B  0 non-null      float64
 20  NOTE_TIME_PERIOD              0 non-null      float64
 21  BASE_PER                      0 non-null      float64
 22  UNIT_MEAS                     0 non-null      float64
 23  UNIT_MULT                     0 non-null      float64
dtypes: float64(14), int64(4), object(6)
memory usage: 297.1+ KB
info db: /n None

In [144]:
df_etÃ ["REF_AREA"]=df_etÃ ["REF_AREA"].replace("IT","Italy")

Sex={1:"Males",
     2:"Females",
     9:"Total"}

df_etÃ ["SEX"]=df_etÃ ["SEX"].replace(Sex)

df_etÃ ["EDU_LEV_HIGHEST"]=df_etÃ ["EDU_LEV_HIGHEST"].replace(99,"Total")
df_etÃ ["LABOUR_PROFESS_STATUS_B"]=df_etÃ ["LABOUR_PROFESS_STATUS_B"].replace(99,"Total")

df_etÃ ["FREQ"]=df_etÃ ["FREQ"].replace("A","Annual")

df_etÃ =df_etÃ .iloc[:,:-13]


df_etÃ ["AGE"]=df_etÃ ["AGE"].str.replace("Y","",regex=False)

Age={'_GE0':"<0",
     "_GE75":">75"}

df_etÃ ["AGE"]=df_etÃ ["AGE"].replace(Age)

df_etÃ

,DATAFLOW,FREQ,REF_AREA,DATA_TYPE,MEASURE,SEX,AGE,EDU_LEV_HIGHEST,LABOUR_PROFESS_STATUS_B,TIME_PERIOD,OBS_VALUE
0,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,HSC,Males,<0,Total,Total,2001,29.3
1,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,HSC,Males,<0,Total,Total,2002,30.1
2,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,HSC,Males,<0,Total,Total,2003,30.4
3,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,HSC,Males,<0,Total,Total,2005,32.3
4,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,HSC,Males,<0,Total,Total,2006,34.1
...,...,...,...,...,...,...,...,...,...,...,...
1579,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,THV,Total,65-74,Total,Total,2019,5156.0
1580,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,THV,Total,65-74,Total,Total,2020,5118.0
1581,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,THV,Total,65-74,Total,Total,2021,5344.0
1582,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,THV,Total,65-74,Total,Total,2022,4992.0
1583,IT1:83_63_DF_DCCV_AVQ_PERSONE_209(1.0),Annual,Italy,0_DRUGS_D,THV,Total,65-74,Total,Total,2023,5180.0

In [145]:
nome_file_etÃ  = "CF_etÃ _pulito.csv"
df_etÃ .to_csv(nome_file_etÃ , index=False)

# PULIZIA DB:CONSUMO FARMACI IN ITALIA: DETTAGLIO POSIZIONE

In [146]:
path_file_prof=r"Consumo_farmaci_professione.csv"
df_prof=pd.read_csv(path_file_prof)

In [147]:
#esplorazione
print("Dimensione db:",df_prof.shape)
print("info db:","/n",df_prof.info())

Dimensione db: (1540, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1540 entries, 0 to 1539
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DATAFLOW                      1540 non-null   object
 1   FREQ                          1540 non-null   object
 2   REF_AREA                      1540 non-null   object
 3   DATA_TYPE                     1540 non-null   object
 4   MEASURE                       1540 non-null   object
 5   SEX                           1540 non-null   int64
 6   AGE                           1540 non-null   object
 7   EDU_LEV_HIGHEST               1540 non-null   int64
 8   LABOUR_PROFESS_STATUS_B       1540 non-null   object
 9   TIME_PERIOD                   1540 non-null   int64
 10  OBS_VALUE                     1540 non-null   float64
 11  OBS_STATUS                    0 non-null      float64
 12  NOTE_DS                       0 non-null      float64
 13  NOTE_REF_AREA                 0 non-null      float64
 14  NOTE_DATA_TYPE                0 non-null      float64
 15  NOTE_MEASURE                  0 non-null      float64
 16  NOTE_SEX                      0 non-null      float64
 17  NOTE_AGE                      0 non-null      float64
 18  NOTE_EDU_LEV_HIGHEST          0 non-null      float64
 19  NOTE_LABOUR_PROFESS_STATUS_B  0 non-null      float64
 20  NOTE_TIME_PERIOD              0 non-null      float64
 21  BASE_PER                      0 non-null      float64
 22  UNIT_MEAS                     0 non-null      float64
 23  UNIT_MULT                     0 non-null      float64
dtypes: float64(14), int64(3), object(7)
memory usage: 288.9+ KB
info db: /n None

In [148]:
df_prof=df_prof.iloc[:,:-13]

df_prof["REF_AREA"]=df_prof["REF_AREA"].replace("IT","Italy")

Sex={1:"Males",
     2:"Females",
     9:"Total"}

df_prof["SEX"]=df_prof["SEX"].replace(Sex)

df_prof["EDU_LEV_HIGHEST"]=df_prof["EDU_LEV_HIGHEST"].replace(99,"Total")

df_prof["FREQ"]=df_prof["FREQ"].replace("A","Annual")

df_prof["AGE"]=df_prof["AGE"].replace("Y_GE15",">15")

Profession={"1":"Occupied",
            "1A":"Freelance profession",
            "1B":"Employe",
            "1C":"Trainee",
            "1D":"Self-employed worker",
            "2":"Unemployed looking for a position",
            "3":"Looking for first job",
            "11":"Unoccupied",
            "4":"Homely/Housewife",
            "5":"Student",
            "6":"Retired from work",
            "7":"Other",
            "99":"Total"}

df_prof["LABOUR_PROFESS_STATUS_B"]=df_prof["LABOUR_PROFESS_STATUS_B"].replace(Profession)
df_prof

,DATAFLOW,FREQ,REF_AREA,DATA_TYPE,MEASURE,SEX,AGE,EDU_LEV_HIGHEST,LABOUR_PROFESS_STATUS_B,TIME_PERIOD,OBS_VALUE
0,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,HSC,Males,>15,Total,Occupied,2001,21.8
1,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,HSC,Males,>15,Total,Occupied,2002,22.4
2,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,HSC,Males,>15,Total,Occupied,2003,23.3
3,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,HSC,Males,>15,Total,Occupied,2005,24.7
4,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,HSC,Males,>15,Total,Occupied,2006,26.3
...,...,...,...,...,...,...,...,...,...,...,...
1535,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,THV,Total,>15,Total,Total,2019,24860.0
1536,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,THV,Total,>15,Total,Total,2020,23352.0
1537,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,THV,Total,>15,Total,Total,2021,23663.0
1538,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,THV,Total,>15,Total,Total,2022,23784.0
1539,IT1:83_63_DF_DCCV_AVQ_PERSONE_211(1.0),Annual,Italy,15_DRUGS_D,THV,Total,>15,Total,Total,2023,24060.0

In [149]:
nome_file_prof = "CF_profession_pulito.csv"
df_prof.to_csv(nome_file_prof, index=False)

# pulizia db consumo farmaci dettaglio: REGIONE

In [150]:
path_file_region=r"Consumo_farmaci_regione.csv"
df_region=pd.read_csv(path_file_region)

In [151]:
#esplorazione
print("Dimensione db:",df_region.shape)
print("info db:","/n",df_region.info())

Dimensione db: (1584, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1584 entries, 0 to 1583
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   DATAFLOW                      1584 non-null   object
 1   FREQ                          1584 non-null   object
 2   REF_AREA                      1584 non-null   object
 3   DATA_TYPE                     1584 non-null   object
 4   MEASURE                       1584 non-null   object
 5   SEX                           1584 non-null   int64
 6   AGE                           1584 non-null   object
 7   EDU_LEV_HIGHEST               1584 non-null   int64
 8   LABOUR_PROFESS_STATUS_B       1584 non-null   int64
 9   TIME_PERIOD                   1584 non-null   int64
 10  OBS_VALUE                     1584 non-null   float64
 11  OBS_STATUS                    0 non-null      float64
 12  NOTE_DS                       0 non-null      float64
 13  NOTE_REF_AREA                 0 non-null      float64
 14  NOTE_DATA_TYPE                0 non-null      float64
 15  NOTE_MEASURE                  0 non-null      float64
 16  NOTE_SEX                      0 non-null      float64
 17  NOTE_AGE                      0 non-null      float64
 18  NOTE_EDU_LEV_HIGHEST          0 non-null      float64
 19  NOTE_LABOUR_PROFESS_STATUS_B  0 non-null      float64
 20  NOTE_TIME_PERIOD              0 non-null      float64
 21  BASE_PER                      0 non-null      float64
 22  UNIT_MEAS                     0 non-null      float64
 23  UNIT_MULT                     0 non-null      float64
dtypes: float64(14), int64(4), object(6)
memory usage: 297.1+ KB
info db: /n None

In [152]:
df_region["SEX"]=df_region["SEX"].replace(9,"Total")

df_region["EDU_LEV_HIGHEST"]=df_region["EDU_LEV_HIGHEST"].replace(99,"Total")

df_region["LABOUR_PROFESS_STATUS_B"]=df_region["LABOUR_PROFESS_STATUS_B"].replace(99,"Total")

df_region["FREQ"]=df_region["FREQ"].replace("A","Annual")

df_region["AGE"]=df_region["AGE"].replace("Y_GE0",">0")

df_region=df_region.iloc[:,:-13]

Region={"IT":"Italia",
"ITC":"Nord-Ovest",
"ITC1":"Piemonte",
"ITC2":"Valle D'Aosta",
"ITC3":"Liguria",
"ITC4":"Lombardia",
"ITD":"Nord-Est",
"ITDA":"Trentino Alto Adige",
"ITD1":"Bolzano",
"ITD2":"Trento",
"ITD3":"Veneto",
"ITD4":"Friuli-Venezia Giulia",
"ITD5":"Emilia Romagna",
"ITE":"Centro",
"ITE1":"Toscana",
"ITE2":"Umbria",
"ITE3":"Marche",
"ITE4":"Lazio",
"ITFG":"Mezzogiorno",
"ITF":"Sud",
"ITF1":"Abruzzo",
"ITF2":"Molise",
"ITF3":"Campania",
"ITF4":"Puglia",
"ITF5":"Basilicata",
"ITF6":"Calabria",
"ITG":"Isole",
"ITG1":"Sicilia",
"ITG2":"Sardegna",
"2":"Centro Area Metropolitana",
"3":"Periferia area metropolitana",
"6":"<2000 abitanti",
"7":"2001-10000 abitanti",
"8":"10001-50000 abitanti",
"9":">50001 abitanti"}

df_region["REF_AREA"]=df_region["REF_AREA"].replace(Region)
df_region

,DATAFLOW,FREQ,REF_AREA,DATA_TYPE,MEASURE,SEX,AGE,EDU_LEV_HIGHEST,LABOUR_PROFESS_STATUS_B,TIME_PERIOD,OBS_VALUE
0,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Centro Area Metropolitana,0_DRUGS_D,HSC,Total,>0,Total,Total,2001,33.9
1,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Centro Area Metropolitana,0_DRUGS_D,HSC,Total,>0,Total,Total,2002,37.9
2,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Centro Area Metropolitana,0_DRUGS_D,HSC,Total,>0,Total,Total,2003,35.3
3,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Centro Area Metropolitana,0_DRUGS_D,HSC,Total,>0,Total,Total,2005,39.0
4,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Centro Area Metropolitana,0_DRUGS_D,HSC,Total,>0,Total,Total,2006,41.6
...,...,...,...,...,...,...,...,...,...,...,...
1579,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Sardegna,0_DRUGS_D,THV,Total,>0,Total,Total,2019,736.0
1580,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Sardegna,0_DRUGS_D,THV,Total,>0,Total,Total,2020,660.0
1581,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Sardegna,0_DRUGS_D,THV,Total,>0,Total,Total,2021,706.0
1582,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Sardegna,0_DRUGS_D,THV,Total,>0,Total,Total,2022,696.0
1583,IT1:83_63_DF_DCCV_AVQ_PERSONE_212(1.0),Annual,Sardegna,0_DRUGS_D,THV,Total,>0,Total,Total,2023,709.0

In [153]:
nome_file_region="CF_region_pulito.csv"
df_region.to_csv(nome_file_region, index=False)

# ESPLORAZIONE DB FARMACI

In [3]:
import pandas as pd

df_drug = pd.read_csv('dati2016_100519.csv', sep='|')
df_drug

,anno,mese,codreg,regione,classe,atc1,descrizione_atc1,atc2,descrizione_atc2,atc3,descrizione_atc3,atc4,descrizione_atc4,numero_confezioni_traccia,spesa_flusso_tracciabilita,numero_confezioni_convenzionata,spesa_convenzionata
0,2016,1,10,PIEMONTE,C,A,Apparato gastrointestinale e metabolismo,A01,Stomatologici,A01A,Stomatologici,A01AA,Sostanze impiegate per la profilassi della carie,2.0,13.42,NaN,NaN
1,2016,1,10,PIEMONTE,A,A,Apparato gastrointestinale e metabolismo,A01,Stomatologici,A01A,Stomatologici,A01AB,Antimicrobici per trattamento orale locale,NaN,NaN,73.0,5197.60
2,2016,1,10,PIEMONTE,C,A,Apparato gastrointestinale e metabolismo,A01,Stomatologici,A01A,Stomatologici,A01AB,Antimicrobici per trattamento orale locale,1460.0,10134.14,5.0,48.70
3,2016,1,10,PIEMONTE,C,A,Apparato gastrointestinale e metabolismo,A01,Stomatologici,A01A,Stomatologici,A01AD,Altre sostanze per il trattamento orale locale,2299.0,3718.40,17.0,137.54
4,2016,1,10,PIEMONTE,A,A,Apparato gastrointestinale e metabolismo,A02,"Antiacidi, antimeteorici e antiulcera peptica",A02A,Antiacidi,A02AD,Associazioni e complessi fra composti di allum...,1101.0,1639.23,35006.0,207054.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1365749,2023,12,200,SARDEGNA,C,V,VARI,V09,RADIOFARMACI DIAGNOSTICI,V09G,SISTEMA CARDIOVASCOLARE,V09GA,COMPOSTI DEL TECNEZIO-99MTC,5.0,2860.00,NaN,NaN
1365750,2023,12,200,SARDEGNA,C,V,VARI,V09,RADIOFARMACI DIAGNOSTICI,V09I,RILEVAZIONE DI TUMORI,V09IX,ALTRI RADIOFARMACI DIAGNOSTICI PER RILEVAZIONE...,2.0,2112.00,NaN,NaN
1365751,2023,12,200,SARDEGNA,H,V,VARI,V09,RADIOFARMACI DIAGNOSTICI,V09I,RILEVAZIONE DI TUMORI,V09IX,ALTRI RADIOFARMACI DIAGNOSTICI PER RILEVAZIONE...,2.0,19360.00,NaN,NaN
1365752,2023,12,200,SARDEGNA,C,V,VARI,V10,RADIOFARMACI TERAPEUTICI,V10X,ALTRI RADIOFARMACI TERAPEUTICI,V10XA,COMPOSTI DELLO IODIO-131I,14.0,3190.00,NaN,NaN
1365753,2023,12,200,SARDEGNA,H,V,VARI,V10,RADIOFARMACI TERAPEUTICI,V10X,ALTRI RADIOFARMACI TERAPEUTICI,V10XX,RADIOFARMACI TERAPEUTICI VARI,4.0,46218.21,NaN,NaN